<div class="showRegClass">
<h1 id="courseTitle"> <span class="courseName"><%= course.name%></span></h1>
<table class="table">
  <tbody valign="center">
    <tr id="course_row">
      <td id="course_header">Term</td>
      <td id="course_data"><%= course.term %></td>
    </tr>
    <tr id="course_row">
      <td id="course_header">Course Name</td>
      <td id="course_data"><%= course.name %></td>
    </tr>
    <tr id="course_row">
      <td id="course_header">Description</td>
      <td id="course_data"><%= course.description %></td>
    </tr>
    <tr id="course_row">
      <td id="course_header">Location</td>
      <td id="course_data"><%= course.location %></td>
    </tr>
    <tr id="course_row">
      <td id="course_header">Instructor</td>
      <td id="course_data"><%= course.instructor_name %></td>
    </tr>
    <tr id="course_row">
      <td id="course_header">Coordinator</td>
      <td id="course_data"><%= course.coordinator_name %></td>
    </tr>
    <tr id="course_row">
      <td id="course_header">Registration Dates</td>
      <td id="course_data"><%= course.registration_start.to_date %> <b>to</b> <%= course.registration_end.to_date %> </td>
    </tr>
    <tr id="course_row">
      <td id="course_header">Course Fees</td>
      <td id="course_data"><%= humanize_money_from_cents(course.fees_in_cents) %></td>
    </tr>
    <tr id="course_row">
      <td id="course_header">Age Group</td>
      <td id="course_data"><%= course.lowest_age %> to <%= course.highest_age %> </td>
    </tr>
    <tr id="course_row">
      <td id="course_header">Comments</td>
      <td id="course_data"><%= course.comments %></td>
    </tr>
    <tr id="course_row">
      <td id="course_header">Course Dates</td>
      <td id="course_data"><%= humanize_course_dates(course) %></td>
    </tr>
    <tr id="course_row">
      <td id="course_header">Course Times</td>
      <td id="course_data"><%= humanize_course_times(course) %></td>
    </tr>

  <tr>
    <td>
      <%= link_to t('.back', :default => 'Back'), :back %>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>
</div>
