<h2>List of Emergency Contacts for <%= Person.find(current_student.id).name %> </h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Cell phone</th>
			<th>Home phone</th>
			<th>Work phone</th>
			<th>Email</th>
			<th>Relationship</th>
		</tr>
	</thead>
	<tbody>
		<% @studentContacts.where(:student_id => current_student.id).each do |sc| %>
			<% p = Person.find(sc.person_id) %>
			<tr>
				<td><%= link_to 'Edit', edit_student_contact_path(sc), :class=>"btn btn-default btn-sm", :role=>"button" %>
				    <%= link_to 'Delete', sc, method: :delete, :class=>"btn btn-default btn-sm", :role=>"button" %></td>				
				<td><%= link_to (p.first_name + " " + p.last_name), student_contact_path(sc) %></td>
				<td><%= p.cell_phone %></td>
				<td><%= p.home_phone %></td>
				<td><%= p.work_phone %></td>
				<td><%= p.email %></td>
				<td><%= sc.relationship_to_student %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<!-- Button is a "warning" to be orange -->
<%= link_to 'Add new contact', new_student_contact_path, :class=>"btn btn-warning", :role=>"button" %>