<!-- Find proper instances in Person table -->
<% person = Person.find(@studentContact.person_id) %>
<% student = Person.find(Student.find(@studentContact.student_id).person_id) %>

<h2>Details about contact person <%= person.first_name %> <%= person.last_name %> for <%= student.first_name %> <%= student.last_name %></h2>

<table class="table">
	<thead>
	</thead>
	<tbody>
		<tr>
			<th>First name: </th>
			<td><%= person.first_name %></td>
		</tr>
		<tr>
			<th>Last name: </th>
			<td><%= person.last_name %></td>
		</tr>
		<tr>
			<th>Cell phone: </th>
			<td><%= person.cell_phone %></td>
		</tr>
		<tr>
			<th>Home phone: </th>
			<td><%= person.home_phone %></td>
		</tr>
		<tr>
			<th>Work phone: </th>
			<td><%= person.work_phone %></td>
		</tr>
		<tr>
			<th>Email: </th>
			<td><%= person.email %></td>
		</tr>
		<tr>
			<th>Relationship: </th>
			<td><%= @studentContact.relationship_to_student %></td>
		</tr>
	</tbody>
</table>
<%= link_to 'Edit', edit_student_contact_path(@studentContact), :class=>"btn btn-default", :role=>"button" %>
<%= link_to 'Delete', @studentContact, method: :delete, :class=>"btn btn-default", :role=>"button" %>
