<h1> Confirm Class Selections for <%= current_student.display_name %> </h1>

<h2> Selected Courses </h2>
<table id="courses" class="table table-striped">
  <thead>
  <tr>
    <th>Course Name</th>
    <th>Location</th>
    <th>Instructor</th>
    <th>Fees</th>
    <th>Course Dates</th>
    <th>Course Times</th>
  </tr>
  </thead>
  <tbody>
  <% shopping_basket.items.map(&:course).each do |course| %>
      <tr>
        <td><%= link_to course.name, course_path(course.id) %> </td>
        <td><%= course.location %></td>
        <td><%= course.instructor_name %></td>
        <td><%= humanize_money_from_cents(course.fees_in_cents) %></td>
        <td><%= course.course_dates %></td>
        <td><%= course.course_times %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= form_for @registration, url: registration_path(@registration) do |f| %>
    <p> <%= f.check_box :photo_waiver, :size => "200x10" %> <%= f.label :photo_waiver %> </p>
    <p>Signature <%= f.text_field :signature_svg, :size => "40" %></p>
    <%= f.button "Done",  class: 'btn btn-primary active' %>
  <% end %>
</p>