
<h2> Enter a course to see registered students </h2>
<%= form_tag  approvals_path, method: 'get' do %>
    Course ID <%= text_field_tag :course_id, params[:course_id] %>
    <%= submit_tag 'Search', name: nil %>
<% end %>

  <% if @course %>
    <%= hidden_field_tag :course_id, @course.id %>
    <h3>Registered Students for '<%= link_to @course.name, courses_path(@course.id) %>' for '<%= @course.term.name %>' </h3>
  <% else %><p></p>
      <p style="color: green">  Displaying all courses for instructor.. </p>
  <% end %>

  <table id="courses" class="table table-striped">
    <thead>
    <tr>
      <th>Student </th>
      <th>Parent</th>
      <th>Status</th>
      <th>Previously Registered</th>
      <th>Registration Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <% if @registration_items.empty? %>
      <tr>
        <td colspan="8" >
          There are no students registered for the course.
        </td>
      </tr>
    <% else %>
      <% @registration_items.each do |registration_item| %>
        <tr>
          <% student = registration_item.registration.student %>
          <td><%= link_to student.display_name, student_path(student.id) %></td>
          <td><%= student.parent_name %></td>
          <td><%= registration_item.status %></td>
          <td>No for Now</td>
          <td><%= registration_item.created_at %></td>
          <td>
            <% if  registration_item.is_enrolled? %>
                <%= link_to 'Accept', update_status_path(registration_item), :class => 'btn btn-mini', method: :post %>
            <% elsif registration_item.is_accepted? %>
                <%= link_to 'Reject', update_status_path(registration_item), :class => 'btn btn-mini', method: :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
